<div class="row">
  <div class="col-md-6 offset-md-3 col-sm-8 offset-sm-2">
      <div class="border-box">
        <h4>Create an Account</h4>
        <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: {class: 'form-default mt-4' }) do |f| %>
            <%#= devise_error_messages! %>

            <div class="form-group">
              <%= f.label :email %><br />
              <%= f.input :email, autofocus: true, autocomplete: "email", label: false %>
            </div>

            <div class="field">
              <%= f.label :name %><br />
              <%= f.input :name, autofocus: true, label: false%>
            </div>

            <div class="field">
              <%= f.input :type,
                as: :select,
                collection: [['Admin','Admin'], ['User','User']],
                prompt: "Select type", label: false %>
            </div>

            <div class="field">
              <%= f.label :password %>
              <% if @minimum_password_length %>
              <em>(<%= @minimum_password_length %> characters minimum)</em>
              <% end %><br />
              <%= f.input :password, autocomplete: "new-password", label: false %>
            </div>

            <div class="field">
              <%= f.label :password_confirmation %><br />
              <%= f.input :password_confirmation, autocomplete: "new-password", label: false %>
            </div>

            <div class="actions">
              <%= f.submit "Sign up", class: 'btn btn-success' %>
            </div>
        <% end %>
      </div>
  <%= render "devise/shared/links" %>
  </div>
</div>


