<%= simple_form_for @user, url: create_user_path do |f| %>
	<%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
  <%= f.input :email%>
  <%= f.input :name%>
  <%= f.input :password%>
	<%= f.submit 'Create User', class: "btn btn-submit"%>
<% end %>