<div class="container">	
	<h1>Editing User <%= @user.name%></h1>

	<%= simple_form_for @user do |f| %>
		<%= f.error_notification %>
	  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
	  <%= f.input :email%>
	  <%= f.input :name%>
	  <%= f.input :password%>
		<%= f.submit 'Update User', class: 'btn btn-default'%>
	<% end %>
</div>
