<div class="col-md-6">
	<nav class="top-navbar-menu">
	  <ul class="top-menu">
	    <% if user_signed_in? %>
	      <li>
	        <%= link_to 'Logout', destroy_user_session_path, method: :delete, class: 'float-right' %>
	      </li>
      <% end %>
      <% if current_user.admin? %>
	      <li>
	        <%= link_to 'Create user', new_user_path, class: 'float-left'  %>
	      </li>
	      <li>
	        <%= link_to 'All Users', users_path, class: 'float-right'  %>
	      </li>
	    <% end %>
	  </ul>
	</nav>
</div>

<div class= "container">
	<div class= "row">
		Hello World
	</div>	
</div>

