<p id="notice"><%= notice %></p>

<h1>Users</h1>

<table class="table">
  <thead>
    <tr>
      <th colspan="1">Email</th>
      <th colspan="1">Name</th>
      <th colspan="3">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td> <%= user.email %> </td>        
        <td> <%= user.name %></td>        
        <td><%= link_to 'Show', user_path(user) %>
        <%= link_to 'Edit', edit_user_path(user) %>
        <%= link_to 'Destroy', user_path(user), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User', new_user_path %>
