<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3 col-sm-8 offset-sm-2">
      <div class="border-box">
        <h2 class="h2">Login</h2>
        <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), class: 'form-default mt-4') do |f| %>
          <div class="form-field-wrapper">
            <label for="login-email">Email address</label>
            <%= f.input :email, required: false, label: false, placeholder: "Enter your Email",  input_html: { class: 'input-sm form-full', id: 'login_email'} %>
          </div>
          <div class="form-field-wrapper">
            <label for="login-pass">Password</label>
            <%= f.input :password, required: false, placeholder: "Enter your Password", label: false, input_html: { class: 'input-sm form-full', id: 'login_password' } %>
          </div>
          <button name="submit" id="Button1" type="submit" class="btn btn-md btn-black">Sign In</button>
          <%= link_to("Forgot Password?", new_user_password_path, id:"forget-password", class:"float-right forget-password") %>
          <%= link_to("Sign Up", new_registration_path(resource_name), class:"btn btn-default") %>
        <% end %>
      </div>
    </div>
  </div>
</div>
