<div class="header">
  <div class="top-navbar">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <span class="aux-text d-none d-md-inline-block">
            <ul class="inline-links inline-links--style-1">
              <li>
                <i class="fa fa-envelope"></i>
                <a href="#">support@stanfordx.us</a>
              </li>
            </ul>
          </span>
        </div>
        <div class="col-md-6">
          <nav class="top-navbar-menu">
            <ul class="top-menu">
              <% if user_signed_in? %>
                <li>
                  <%= link_to 'Logout', destroy_user_session_path, method: :delete %>
                </li>
              <% else %>
                <li>
                  <%= link_to 'Login', new_user_session_path  %>
                </li>
                <li>
                  <%= link_to 'Create account', new_user_registration_path  %>
                </li>
              <% end %>
              <% if user_signed_in? %>
                <li>
                  <a href="#" class="btn-st-trigger" data-effect="st-effect-1">
                  <i class="fa fa-ellipsis-h"></i>
                  </a>
                </li>
              <% end %>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
  <nav class="navbar navbar-expand-lg navbar--bold navbar--bb-1px navbar-light bg-default ">
    <div class="container navbar-container">
      <%= link_to root_path, class: 'navbar-brand' do %>
        Stanford x
      <% end %>
      <div class="d-inline-block">
        <button class="navbar-toggler hamburger hamburger-js hamburger--spring" type="button" data-toggle="collapse" data-target="#navbar_main" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="hamburger-box">
        <span class="hamburger-inner"></span>
        </span>
        </button>
      </div>
      <div class="collapse navbar-collapse align-items-center justify-content-end" id="navbar_main">
        <div class="navbar-search-widget b-xs-bottom py-3 d-lg-none d-none">
          <form class="" role="form">
            <div class="input-group input-group-lg">
              <input type="text" class="form-control" placeholder="Search for...">
              <span class="input-group-btn">
              <button class="btn btn-base-3" type="button">Go!</button>
              </span>
            </div>
          </form>
        </div>
        <ul class="navbar-nav">
          <% if user_signed_in? %>
            <li class="nav-item dropdown megamenu">
              <%= link_to 'My Account', edit_accounts_path, class: 'nav-link' %>
            </li>
          <% end %>
          <% if current_user.present? && current_user.student? %>
            <li class="nav-item dropdown megamenu">
              <%= link_to 'All Experiences', experiences_job_applications_path, class: 'nav-link' %>
            </li>
          <% end %>

          <% if current_user.present? && current_user.employer? %>
            <li class="nav-item dropdown megamenu">
              <%= link_to 'My Experiences', filter_experience_jobs_path(status: false), class: 'nav-link' %>
            </li>
          <% end %>

          <% if current_user.present? && current_user.superadmin? %>
            <li class="nav-item dropdown megamenu">
              <%= link_to 'Admin Panel', admin_root_path, class: 'nav-link' %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </nav>
</div>
