<!DOCTYPE html>
<html>
  <head>
    <title>TestJob</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<%#= render 'layouts/navbar' %>
    <div class="body-wrap">
      <div id="st-container" class="st-container">
        <div class="st-pusher">
          <div class="st-content">
            <div class="st-content-inner">
              <%= yield %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
  <%= render 'toastr_rails/flash' %>

</html>
